asn1crypto==0.24.0
attrs==19.3.0
Automat==20.2.0
backports.entry-points-selectable==1.1.1
cffi==1.14.0
configparser==4.0.2
constantly==15.1.0
contextlib2==0.6.0.post1
cryptography==2.9
cssselect==1.1.0
distlib==0.3.3
Django==1.11.29
enum34==1.1.10
fake-useragent==0.1.11
filelock==3.2.1
functools32==3.2.3.post2
hyperlink==19.0.0
idna==2.9
importlib-metadata==2.1.2
importlib-resources==3.3.1
incremental==17.5.0
ipaddress==1.0.23
keyring==10.6.0
keyrings.alt==3.0
lxml==4.5.0
nnresample==0.2.4
numpy==1.16.6
olefile==0.45.1
parsel==1.5.2
pathlib2==2.3.6
Pillow==5.1.0
platformdirs==2.0.2
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==1.10.1
PyOpenGL==3.1.0
pyOpenSSL==19.1.0
Pyrex==0.9.9
pytz==2021.3
pyxdg==0.25
queuelib==1.5.0
scandir==1.10.0
scipy==1.2.3
Scrapy==1.8.0
scrapy-fake-useragent==1.2.0
SecretStorage==2.3.1
service-identity==18.1.0
singledispatch==3.7.0
six==1.16.0
Twisted==20.3.0
typing==3.10.0.0
virtualenv==20.10.0
w3lib==1.21.0
zipp==1.2.0
zope.interface==5.1.0
